
@media only screen and (max-width: 740px) {
    .tableWrap {
        display: block;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    
}

div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
table tr:nth-child(even) {background-color: #f2f2f2;}
  
table tr:hover {background-color: #ddd;}
  
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #ba34eb;
    color: white;
}
